#
# hypertable.cfg
#

#Hypertable.DataDirectory=

# Hypertable Service
#Hypertable.Service.DfsBroker=
#Hypertable.Service.HyperspaceMaster=
#Hypertable.Service.HypertableMaster=
#Hypertable.Service.RangeServer=
#Hypertable.Service.ThriftBroker=

# Local Broker
DfsBroker.Local.Root=fs/local

# DFS Broker - for clients
DfsBroker.Host=localhost
DfsBroker.Port=38030

# Hyperspace
Hyperspace.Replica.Host=localhost
Hyperspace.Replica.Port=38040
Hyperspace.Replica.Dir=hyperspace
Hyperspace.Replica.Workers=20
Hyperspace.KeepAlive.Interval=30000

Hyperspace.Lease.Interval=1000000

Hyperspace.GracePeriod=200000

# Hypertable Master
Hypertable.Master.Port=38050

# Hypertable RangeServer
Hypertable.RangeServer.Port=38060
#Hypertable.RangeServer.MemoryLimit=
#Hypertable.RangeServer.MemoryLimit.Percentage=
#Hypertable.RangeServer.LowMemoryLimit.Percentage=
#Hypertable.RangeServer.MemoryLimit.EnsureUnused.Percentage=

# ThriftBroker
ThriftBroker.Port=38080
