#
# hypertable.cfg
#

Hypertable.Monitoring.Disable=yes
#Hypertable.Logging.Level=info
#Hypertable.DataDirectory=
#Hypertable.LoadBalancer.Enable=no
#Hypertable.CommitLog.Compressor=none

# Hypertable Service
#Hypertable.Service.DfsBroker=no
#Hypertable.Service.ThriftBroker=no

# HDFS Broker
HdfsBroker.Hadoop.ConfDir=/etc/hadoop/conf

# Ceph Broker
CephBroker.MonAddr=10.0.1.245:6789

# Local Broker
DfsBroker.Local.Root=fs/local
#DfsBroker.Local.Embedded=yes
#DfsBroker.Local.Embedded.AsyncIO=no

# Qfs Broker
Qfs.MetaServer.Name=localhost
Qfs.MetaServer.Port=20000

# DFS Broker - for clients
DfsBroker.Port=38030

# Hyperspace
Hyperspace.Replica.Host=localhost
Hyperspace.Replica.Port=38040
Hyperspace.Replica.Dir=hyperspace
Hyperspace.Session.Reconnect=yes
Hyperspace.KeepAlive.Interval=30000
Hyperspace.Lease.Interval=1000000
Hyperspace.GracePeriod=200000

# Hypertable.Master
Hypertable.Master.Port=38050
#Hypertable.Master.DiskThreshold.Percentage=95

# Hypertable.RangeServer
Hypertable.RangeServer.Port=38060
#Hypertable.RangeServer.MemoryLimit=512M
#Hypertable.RangeServer.QueryCache.MaxMemory=16M
#Hypertable.RangeServer.UpdateCoalesceLimit=32M
#Hypertable.RangeServer.Range.SplitSize=4G

# ThriftBroker
ThriftBroker.Port=38080
#ThriftBroker.API.Logging=yes
